@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.three_stats {
  display: flex;
  top: 102px !important;
}

.three_stats canvas:nth-child(1) {
  display: block !important;
}

.three_stats canvas:nth-child(2) {
  display: block !important;
}

.three_stats canvas:nth-child(3) {
  display: block !important;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background: white;
  border-bottom: 1px solid #e9e9e9;
  box-shadow: 0 0px 10px #dfdfdf;
}

.header__container {
  display: flex;
  width: 80%;
  margin: auto;
  /* margin: 4px 75px 0 75px; */
  justify-content: space-between;
}

.header__block {
  display: flex;
  align-items: center;
}

.header__menu {
  cursor: pointer;
}

.header__logo {
  cursor: pointer;
  margin-left: 80px;
  padding-top: 4px;
}

.header__calendar {
  cursor: pointer;
  display: flex;
  margin-right: 60px;
}

.header__calendar__data {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  line-height: 22px;
  padding-top: 2px;
  margin-right: 20px;
}

.header__notification {
  cursor: pointer;
  padding-top: 4px;
}

.leva-c-kWgxhW-bCBHqk-fill-false {
  position: static;
  top: 110px !important;
}

.engine {
  flex-grow: 1;
}
